{% extends "layout.html" %}   
{% block title %} notGoogle {% endblock %}
{% block form %}
<form action="https://www.google.com/search">
  <div>
    <button class="search-button" type="submit">Search</button>
    <input placeholder="Search..." class="search-bar" type="text" name="q">
  </div>
  <div class="aditional-search-buttons">
    <input type="submit" name="btnK" value="Google Search" class="button">
    <input type="submit" name="btnI" value="I'm Feeling Lucky" class="button">
  </div>
</form>
{% endblock %}
