<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <header>
    <i class="fa-brands fa-google"></i>
      <nav>
        <a href="/">                                       Home            </a>
        <a href="https://classroom.google.com/">           Classroom       </a>
        <a href="https://codeforces.com/">                 CodeForces      </a>
        <a href="https://www.youtube.com/">                Youtube         </a>
        <a href="https://www.reddit.com/">                 Reddit          </a>
      </nav>
      <nav>
        <a href="https://mail.google.com/mail/u/0/#inbox"> Gmail           </a>
        <a href="/imagesearch">                            Images          </a>
        <a href="/advancedsearch">                         AdvancedSearch  </a>
        <a href="https://myaccount.google.com/">           Profile         </a>
      </nav>
    </header>
    <main>
      <h1>{% block title %}{% endblock %}</h1>
      {% block form %}{% endblock %}
    </main>
    <script src="https://kit.fontawesome.com/0a4bfb7071.js" crossorigin="anonymous"></script>
  </body>
</html>
