@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --search-bar-border: #000;
  --search-buttons-bg: #fff;
  --link-box-border: #000;
  --text-color: #000;
}

body {
  font-family: 'Pixelify Sans', sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;

}

header nav {
  padding: 28px 30px 0 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

h1 {
  font-size: clamp(2rem, 10vw,4rem);
  margin-bottom: 3rem;
}

input {
  font-family: 'Pixelify Sans', sans-serif;
}

button {
  border: none;
  background: transparent;
}

form {
  margin-bottom: 4rem;
}

#appDropdown {
  cursor: pointer;  
  position: relative;
}

.dropdown {
  right: 10px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

.search-bar {
  min-width: 300px;
  width: 40vw; 
  max-width: 600px;
  border: 1px solid var(--search-bar-border);
  border-radius: 16px;
  padding: 8px;
  padding-left: 40px;
  position: relative;
  right: 20px;
  margin-bottom: 16px;
  font-size: 1.125rem;
}
.search-button {
  position: relative;
  left: 20px;
  top: 8px;
  z-index: 1;
}
.aditional-search-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.aditional-search-buttons input {
  background: var(--search-buttons-bg);
  border: 1px solid var(--search-bar-border);
  border-radius: 8px;
  font-size: 1rem;
  padding: 2px 4px;
}
.links-section {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  gap: 24px;
}
.link-group {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 200px;
}

.link-group a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.125rem;
}
.link-group a:after {
  content: '\f08e';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin:0px 0px 0px 10px;
  text-decoration:none;
}
.link-group img {
  margin-bottom: 16px;
  align-self: center;
  justify-self: center;
}
.link-group .link-list {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 450px) {
  .links-section {
    display: flex;
    flex-direction: column;
  }
}
