@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
    font-family: 'Pixelify Sans', sans-serif;
}

.cloverBtn {
    background-image: url('./../assets/clover.jpg');
    background-size: 40px 40px; 
    background-repeat: no-repeat;
    padding-left: 30px; 

    height: 40px ;
}
